<div class="home__container">
  <app-card gameCover="assets/bt-1.jpg" gameLabel="Digital" gamePrice="R$ 199,00"></app-card>
  <app-card gameCover="assets/bt-4.jpg" gameLabel="Oferta" gamePrice="R$ 199,20"></app-card>
  <app-card gameCover="assets/bt-5.jpg" gameLabel="Digital" gamePrice="R$ 149,99"></app-card>
  <app-card gameCover="assets/bt-bad-company-2.jpg" gameLabel="Digital"></app-card>
  <app-card gameCover="assets/bt-hardline.jpg" gameLabel="exclusivo" gameType="PS4 | PS3"></app-card>
  <app-card gameCover="assets/ac-cover.jpg" gameLabel="PC" gameType="PC"></app-card>
</div>



